@import "https://fonts.googleapis.com/css?family=Quicksand"
$primary: navy
$secondary: gold
$block-background: rgba(black, .5)
$active-link: gray


@mixin center
  margin-top: 5px
  margin-bottom: 5px
  margin-left: 10%
  width: 80%
@mixin flex($flow: row, $justify: space-around, $wrap: nowrap)
  display: flex
  flex-direction: $flow
  justify-content: $justify
  align-items: center
  flex-wrap: $wrap
  
@mixin link-style
  display: inline-block
  border: 2px solid $secondary
  border-radius: 5px
  padding: 5px
  font-weight: bold
  background-color: $secondary
  text-decoration: none
  color: white
@mixin link-on-hover
  @include link-style
  color: $secondary
  background-color: inherit
  
@mixin button-style
  @include link-style
  cursor: pointer

@mixin block
  @include center
  border-radius: 10px
  @include flex($flow: column, $justify: space-around)
  background-color: $block-background
  *
    margin: 5px auto

body
  padding: 0px
  margin: 0px
  box-sizing: border-box
  background-color: $primary
  color: white
  text-align: center
  font-family: "Quicksand", "New times Roman", serif
  font-size: 1.2rem  
  
#root
  margin: 0px
  padding: 0px
a
  @include link-style
a:hover
  @include link-on-hover
a:active
  background-color: $active-link
a.active
  background-color: $active-link
h1>a
  border: 0px
button
  @include button-style
button:hover
  @include link-on-hover
button:active
  background-color: $active-link
button:disabled
  background-color: $active-link
  cursor: not-allowed
img
  border-radius: 10px
  width: 40vw
ul
  padding: 0px
li
  background-color: $block-background
  padding: 5px
  margin: 5px auto
nav
  @include flex($flow: row, $justify: center, $wrap: wrap)
  gap: 2px
div.home-container
  @include flex(row, space-between , wrap)
  nav
    @include flex($flow: row, $justify: center, $wrap: wrap)
    gap: 2px
    margin-left: 2px
    padding-left: 2px
.home-link
  background-color: inherit
  color: inherit
.home-link:hover
  color: $secondary
  border: 0px

.home-login-link
  background-color: inherit
  color: $secondary

form
  @include block
  padding: 10px
.error-message
  @include block
  border: 2px solid red
  color: red
  padding: 5px
.success-message
  @include block
  border: 2px solid green
  color: green
  padding: 5px
input
  border-radius: 7px
  padding: 10px
textarea
  resize: none
  margin: 0px
  padding: 5px
  width: 30%
.play
  @include block
  padding: 5px
.go, .timer, .text-displayer, .countdown
  font-size: 1.5rem
  font-weight: bold
.wrapper
  @include block
.new-record
  @include center
  border-radius: 10px
  background-color: $block-background
  *
    margin: 5px auto
  padding: 5px
b
  color: $secondary

@keyframes s3
  100%
    transform: rotate(1turn)
.absolute-loading
  width: 50px
  height: 50px
  border-radius: 50%
  background: radial-gradient(farthest-side,#FFD700,#0000) top/8px 8px no-repeat, conic-gradient(#0000 30%,#FFD700)
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0)
  animation: s3 1s infinite linear
  position: absolute
  top: calc( 50vh - 25px )
  left: calc( 50vw - 25px )
.loading
  display: inline-block
  width: 30px
  height: 30px
  border-radius: 50%
  background: radial-gradient(farthest-side,#FFD700,#0000) top/8px 8px no-repeat, conic-gradient(#0000 30%,#FFD700)
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0)
  animation: s3 1s infinite linear
  position: relative
  top: 15px

footer
  padding: 10px
span.incorrect
  color: red
  text-decoration: underline

span.correct
  color: #00FF00

div.cheat
  color: red
  max-width: 100%

span.error
  color: red
@media screen and (max-width: 760px)
  body, .go, .timer, .text-displayer, .countdown
    font-size: 1.2rem
@media screen and (max-width: 420px)
  body, .go, .timer, .text-displayer, .countdown
    font-size: 1.1rem
@media screen and (max-width: 360px)
  div.home-container
    display: block
    nav
      display: block
      *
        margin: 1px
